.Container {
  display: flex;
  width: 100vw;
  border: 2px solid blue;
}

canvas {
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  height: 100vh;
  width: 100vw;
}

.card_actions {
  display: flex;
  flex-direction: column;
}

.scene {
  opacity: 0.75;
  position: absolute;
  bottom: 45px;
  right: 104px;
  width: 100px;
  height: 100px;
  perspective: 190px;
}
.cube {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform-style: preserve-3d;
  animation: rotate3d 16s linear infinite;
}

.top_s,
.bot,
.front,
.back,
.side,
.side2 {
  border: 3px double black;
  opacity: 0.75;
  height: 125%;
  width: 135%;
  padding: 0 0;
  position: absolute;
  z-index: 2;
}

.front {
  transform: rotateY(0deg) translateZ(40px);
}
.back {
  transform: rotateY(180deg) translateZ(40px);
}
.side {
  transform: rotateY(90deg) translateZ(40px);
}
.side2 {
  transform: rotateY(-90deg) translateZ(40px);
}
.top_s {
  transform: rotateX(90deg) translateZ(40px);
}
.bot {
  transform: rotateX(-90deg) translateZ(40px);
}

.left,
.top,
.corner {
  visibility: hidden;
}
.left {
  opacity: 0.5;
  background-size: 150% 20vh;
  background-repeat: repeat-y;
  background-image: url("../img/left.png");
  position: absolute;
  top: 20vh;
  height: calc(100% - 20vh);
  width: 6.5vw;
  z-index: 0;
}
.top {
  opacity: 0.5;
  background-size: 20vw 120%;
  background-repeat: repeat-x;
  background-image: url("../img/top.png");
  position: absolute;
  top: 0px;
  left: 10vw;
  width: calc(100% - 10vw);
  height: 20vh;
  z-index: 0;
}

::-webkit-scrollbar {
  display: none;
}

.loggedIn {
  justify-content: flex-start;
  font-family: "Risque", cursive;
  font-size: 10px;
}

.loggedIn h1 {
  margin-top: 30%;
}

.loggedIn h1::first-letter {
  text-transform: capitalize;
}

@keyframes rotate3d {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  75% {
    transform: rotateY(270deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
