* {
  /* cursor: url("../../img/cursor_b.png") 32 32, move;
  cursor: url("../../img/cursor_b.png") 32 32, pointer; */
  cursor: url("../../img/cursor.png") 24 24, auto;
  /* border: 1px solid blue; */
  font-family: "Time";
  /* z-index: 2; */
}

button,
input {
  cursor: url("../../img/cursor_b.png") 32 32, auto;
}

.Header {
  /* background: black; */
  /* margin: 100px 0 0 0; */
  padding: 30px 10px 0px 20px;
  height: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 0;
}
.title {
  font-size: 16pt;
  position: absolute;
  bottom: 5px;
  left: 15px;
  opacity: 1;
  /* padding: 20px 0px 0 0px; */
  color: white;
  /* font-weight: 600; */
  font-family: "Sheeping", cursive;
  /* line-height: 55px; */
  text-shadow: 0px 3px 25px rgb(255, 180, 120);
  z-index: 20;

  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.4)
  );
  -webkit-mask-size: 100% 7%;
  -webkit-mask-repeat: repeat;
}

.nav,
.nav * {
  cursor: url("../../img/cursor_b.png") 32 32, auto;
  z-index: 50;
  /* border: 1px solid green; */
}
.nav {
  background-size: 100%;
  height: calc(640px * 0.8);
  width: calc(640px * 0.8);
  background-image: url("../../img/hkit.png");
  position: absolute;
  top: calc(38vh - 240px);
  left: calc(50vw - 260px);
  /* z-index: 1; */
}
.loginContainer {
  height: auto;
  width: 100%;
  /* padding: -20px -20px; */
  margin: 0px 20px 0 0;
  display: flex;
  position: absolute;
  /* top: calc(7vh - 50px + 55vw); */
  top: calc(0vh + 320px);

  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
}
.login {
  display: flex;
  flex-direction: column;
}

.login input,
.login input:-webkit-autofill {
  -webkit-transition-delay: 99999s;
  color: #200900;
  /* -webkit-box-shadow: 0 0 0 100px transparent inset; */
  background-color: rgba(200, 120, 0, 0);
  /* -webkit-mask-image: null; */
  border: none;
  border-radius: 10px 10px 40px 40px;
  padding: 0 0 0 0;
  /* color: #ffffff; */
  text-shadow: 2px 3px 10px gold;
  font-size: 32pt;
  font-weight: 1000;
  height: 32pt;
  width: 260px;
  text-align: center;
  margin: 1px auto;
  z-index: 2;
}
#passin,
#passin:-webkit-autofill {
  /* background-color: black; */
  /* -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.1) inset; */
  margin: auto;
  width: 210px;
}
.login input:-webkit-autofill {
}
/* .Header input,
.Header button {
  -webkit-mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
    /* ,
    linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.05)) */
/* );
    -webkit-mask-size: 100% 12%;
    -webkit-mask-repeat: repeat;
  /* -webkit-mask-clip: content-box; */
/* background: black; 
  background-color: rgba(255, 5, 5, 1);
  padding: 2px 10px 0px 10px;
  border: 2px inset black;
  color: whitesmoke;
  /* border: none; 
  font-family: "Time", cursive;
  font-size: 8pt;
  /* font-size: 1em; 
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.75); 
  
} */

.currUser {
  float: right;
  opacity: 0.75;
  /* visibility: hidden; */
  color: black;
  /* text-shadow: 2px 2px rgba(255, 0, 0, 0.75); */
  position: relative;
  /* right: 50px; */
  top: 10px;
  background: none;
  font-size: 16pt;
  /* text-decoration-color: red;
  text-decoration-line: underline; */
  background-image: url("../../img/name.png");
  text-shadow: 2px 2px 5px #a00;
  color: #000;
  /* border: 1px double #000; */
  /* padding: 10px 0 10px 0; */
  margin: 0px 75px 0px 0px;
  height: 22px;
  width: 160px;
  z-index: 4;
}

.dropDown {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  opacity: 0.95;
  border-radius: 15px 0 0 15px;
  background: rgba(100, 10, 0, 0.8);
  position: absolute;
  top: 0px;
  right: 0px;
  border: 1px solid #aaaacc;
  padding: 20px 0px 27px 0px;
  height: calc(100vh - 50px);
  width: 330px;
  animation: drop 1s ease-in-out;
  font-weight: bold;
  z-index: 0;
}
.dropButt {
  background-color: white;
  /* width: 100px; */
  border-radius: 5px 5px 0 0;
  /* float: left; */
  position: relative;
  left: 0;
  /* top: -10px; */
  font-weight: 700;
  font-size: 9pt;
  display: flex;
  /* flex-direction: row; */
  /* margin: 0 36px 0 0; */
  /* align-items: flex-start; */
  /* padding: 10px 0 4px 10px; */
  z-index: 15;
}
.tabs {
  padding: 0 28px;
  height: 44px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* align-items: center; */
  flex-wrap: wrap;
}
.tabs button {
  height: min-content;
  width: 117px;
}

#reg,
#log {
  background-color: rgba(235, 210, 150, 0.35);
  position: relative;
  top: 10px;
  margin: 0px 0;
  border-radius: 3px 3px 20px 20px;
  font-weight: 1000;
  text-shadow: 2px 2px 3px goldenrod;
  height: 25px;
  width: 140px;
  z-index: -2;
}
#reg {
  text-shadow: 1px 1px 3px red;
  border-radius: 3px 3px 30px 30px;
  background-color: rgba(150, 150, 150, 0.5);
  height: 20px;
  width: 100px;
}

.adminCheck {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: -3px 0px 0px 20px;
  font-size: 0.75em;
}

.change_name_input {
  background-color: rgba(255, 0, 0, 0.1);
  border-width: 0px;
  height: 32px;
  /* width: inherit; */
}

.burgerbox {
  cursor: url("../../img/cursor_b.png") 32 32, auto;
  /* opacity: 0.75; */
  color: white;
  font-size: 32pt;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 12px 8px 0 0px;
  z-index: 15;
  /* -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.3) */
  /* ,
    linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.05)) 
  );
  -webkit-mask-size: 100% 5%;
  -webkit-mask-repeat: repeat; */
}
.burgerbox:hover {
  text-shadow: 2px 2px 4px black;
  transform: scale(1.025);
}

.welcomeMessage {
  /* color: whitesmoke; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* z-index: 0; */
}

.welcomeMessage ::first-letter {
  text-transform: capitalize;
}

@font-face {
  font-family: "Time";
  src: url("../../fonts/timeburnernormal.ttf") format("truetype");
}
@font-face {
  font-family: "TimeBold";
  src: url("../../fonts/timeburnerbold.ttf") format("truetype");
}

@keyframes drop {
  from {
    width: 0px;
  }
  to {
    width: 305px;
  }
}

@media screen and (min-width: 1300px) {
  .title {
    font-size: 50pt;
  }
}
@media screen and (max-width: 768px) {
  .title {
    left: calc(50vw - 150px);
  }
  .scene {
    right: calc(50vw - 68px);
  }
  .nav {
    left: 5vw;
    top: 10vh;
    background-size: 90vw 90vw;
    height: 90vw;
    width: 90vw;
  }
  .loginContainer {
    top: calc(7vh - 50px + 55vw);
  }
  .login input,
  #passin {
    /* top: 10vh; */
    height: 50%;
    width: 75%;
    font-size: 5vw;
  }
}
