* {
  font-family: "Time";
  /* z-index: 2; */
}

.Header {
  /* background: black; */
  /* margin: 100px 0 0 0; */
  padding: 50px 10px 0px 40px;
  height: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: -1;
}

.title {
  padding: 15px 0px 0 150px;
  color: #eee;
  font-weight: 600;
  font-family: "TimeBold", cursive;
  font-size: 48px;
  line-height: 55px;
  text-shadow: 4px 4px 10px #000;
  z-index: 2;
}

.loginContainer {
  height: 8vh;
  width: 100%;
  /* padding: 0px 20px 0 0; */
  /* margin: auto; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.login {
  display: flex;
  flex-direction: column;
}

.Header input,
.Header button {
  margin: 0px 0px 0px 0px;
  border-color: black;
  background-color: rgba(255, 128, 132, 0.5);
}

.Header button {
  /* background: black; */
  background-color: rgba(255, 205, 205, 0.4);
  padding: 5px 10px 6px 10px;
  /* border-color: white; */
  color: whitesmoke;
  /* border: none; */
  font-family: "TimeBold", cursive;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 2px 2px rgba(255, 0, 0, 0.75);
}

.currUser {
  float: right;
  opacity: 0.75;
  /* visibility: hidden; */
  color: black;
  /* text-shadow: 2px 2px rgba(255, 0, 0, 0.75); */
  position: relative;
  /* right: 50px; */
  top: 10px;
  background: none;
  font-size: 16pt;
  /* text-decoration-color: red;
  text-decoration-line: underline; */
  background-image: url("../../img/name.png");
  text-shadow: 2px 2px 5px #a00;
  color: #000;
  /* border: 1px double #000; */
  /* padding: 10px 0 10px 0; */
  margin: 0px 75px 0px 0px;
  height: 22px;
  width: 160px;
  z-index: 4;
}

.dropDown {
  opacity: 0.95;
  border-radius: 15px 0 0 15px;
  background: #e9eeee;
  position: absolute;
  top: 0px;
  right: 0px;
  border: 1px solid #aaaacc;
  padding: 0px 10px 0 10px;
  height: 100%;
  width: 300px;
  animation: drop 1s ease-in-out;
  font-weight: bold;
  z-index: 0;
}
.dropBot {
  font-weight: 100;
  font-size: 9pt;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-start;
  padding: 100px 0 4px 10px;
}

.Header input {
  /* border-width: 0px; */
  border-radius: 20px 0 0 20px;
  padding: 0 0 0 0;
  color: #ffffff;
  text-shadow: 3px 3px 4px #000;
  font-weight: 1000;

  height: 14px;
  width: 125px;
  text-align: center;
}

#reg {
  text-shadow: 3px 3px 5px goldenrod;
  border-radius: 0 20px 20px 0;
  background-color: rgba(150, 150, 150, 0.5);
}

.adminCheck {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: -3px 0px 0px 20px;
  font-size: 0.75em;
}

.burgerbox {
  color: #fff;
  font-size: 32pt;
  position: relative;
  top: 12px;
  right: 15px;
  /* padding: 0px 10px 0 0px; */
  z-index: 1;
}
.burgerbox:hover {
  text-shadow: 2px 2px 4px black;
  transform: scale(1.025);
}

.welcomeMessage {
  /* color: whitesmoke; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* z-index: 0; */
}

.welcomeMessage ::first-letter {
  text-transform: capitalize;
}

@font-face {
  font-family: "Time";
  src: url("../../fonts/timeburnernormal.ttf") format("truetype");
}
@font-face {
  font-family: "TimeBold";
  src: url("../../fonts/timeburnerbold.ttf") format("truetype");
}

@keyframes drop {
  from {
    width: 0px;
  }
  to {
    width: 305px;
  }
}
