@import url("https://fonts.googleapis.com/css?family=Risque");

.App {
  /* position: absolute; */
  /* background-blend-mode: color-burn; */

  background: url("./img/city.png");
  background-blend-mode: luminosity;
  background-color: rgba(50, 50, 50, 0.5);
  background-size: cover;
  background-position: 50% 50%;
  min-height: 100vh;
  min-width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
  /* z-index: -2; */
}

#skyline {
  /* visibility: hidden; */
  background: url("./img/skyline_tall.png");
  background-size: cover;
  background-position: 50% 48%;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  pointer-events: none;
}

#shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.dp-controls {
  background-color: rgba(32, 32, 32, 0.3);
  border-radius: 8px;
  border: 2px groove orangered;
  border-width: 0 4px 0 4px;
  display: flex;
  justify-content: center;
  position: relative;
  top: -19px;
  left: 178px;
  height: 48px;
  width: 288px;
  z-index: 32;
}
.dp-add,
.dp-join,
.dp-close {
  color: white;
  font-weight: 700;
  /* font-size: 18px; */
  margin: 0px;
  background-color: rgba(202, 72, 55, 0);
  border-width: 0px;
  /* border-radius: 8px; */
  /* font-size: 20pt; */
  position: relative;
  /* left: -50px; */
  height: fill;
  width: fill;
  z-index: 30;
}
.dp-join {
  border-color: orangered;
  border-width: 0 2px 0 2px;
  border-radius: 8px;
}

#dp-window {
  position: absolute;
  cursor: move;
  height: calc(121% - 40px);
  width: 100%;
  top: calc(-17% + 40px);
  left: 0px;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  background-color: rgba(50, 0, 0, 0.6);
  border-radius: 85px;
  float: middle;
  z-index: 24;
}

.devpool {
  /* border: 1px groove rgba(0, 255, 0, 1); */
  margin: 0px;
  padding: 0px;
  color: white;
  position: absolute;
  top: 11%;
  left: 2%;
  /* min-width: 220px; */
  /* width: 660px !important; */
  /* max-width: 780px; */
  /* height: 430px !important; */
  /* max-height: 820px !important; */
  z-index: 24;
}
.devpool-area {
  margin: 0px;
  padding: 0px 30px 15px 30px;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 90px 90px 90px;
  grid-auto-flow: column;
  color: white;
  position: relative;
  top: 0%;
  left: -10px;
  /* min-width: 220px; */
  /* width: 660px !important; */
  /* max-width: 780px; */
  /* height: 430px !important; */
  /* max-height: 820px !important; */
  z-index: 30;
}
/* .devpool-row[key*="0"] {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  grid-auto-flow: row;
}
.devpool-row[key*="5"] {
  display: grid;
  grid-column: 2;
  grid-row: 2;
  grid-auto-flow: row;
} */
.devpool-row {
  display: grid;
  grid-auto-flow: row;
  border: 1px groove black;
  margin: 0px;
  padding: 0px;
  font-size: 11pt;
  border-radius: 5px;
  font-weight: 700;
  /* border: 2px hotpink groove; */
  height: 90px;
  width: 200px;
  position: relative;
  z-index: 30;
}

.dev-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* flex-wrap: nowrap; */
  /* border: 1px solid blue; */
  justify-content: space-between;
  /* align-items: stretch; */
  /* align-items: flex-start; 
} 
#dev-team {
  display: flex;
  flex-direction: row;
  /* text-align: left; */
}
#dev-desc {
  list-style-position: outside;
  list-style-image: url(./img/dms_icon.png);
  height: auto;
  width: calc(100% + 5px);
  float: top;
  text-align: left;
  /* display: flex;
  flex-direction: column; */
  position: relative;
  top: -20px;
  left: -5px;
}
#dev-desc li * {
  position: relative;
  top: -8px;
  left: -2px;
}
#dev-team {
  font-family: "Sheeping";
  font-weight: 100;
  font-size: 14pt;
  position: relative;
  /* float: right; */
  /* width: fit-content; */
  top: -9pt;
  /* vertical-align: bottom; */
}

/* .devpool-row * {
  float: left; 
} */

.intro,
.introFade {
  overflow: hidden;
  /* position: absolute; */
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: #010001;
  /* z-index: 15; */
}
.intro video,
.introFade video {
  position: absolute;
  bottom: -15vh;
  z-index: 100;
}

#particles canvas {
  /* -webkit-mask-image: -webkit-radial-gradien */
  -webkit-mask-image: radial-gradient(transparent -500%, black 600%),
    radial-gradient(transparent 45%, black 63%);
  /* ,
    linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
  -webkit-mask-size: 1000% 100%;
  /* -webkit-mask-repeat: repeat; */
  /* -webkit-mask-composite: invert; */
  -webkit-mask-position: center;
  /* -webkit- */
  /* fill-opacity: inherit; */
  /* color-interpolation-filters: linearRGB;*/
  /* outline-color: aquamarine; */
  /* webkit-  */
}

.introFade {
  /* opacity: 0; */
  animation: fadeout 3s ease-in;
}
@font-face {
  font-family: "Sheeping";
  src: url("./fonts/Sheeping\ Cats.otf") format("truetype");
}
@font-face {
  font-family: "Sheeping Straight";
  src: url("./fonts/Sheeping\ Cats\ Straight.otf") format("truetype");
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
