@import url("https://fonts.googleapis.com/css?family=Risque");

.App {
  background-blend-mode: color-burn;
  background: url("./img/city.png");
  background-size: 100vw 100vh;
  height: 100vh;
  width: 100vw;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
}

.devpool * {
  /* border: 1px groove rgba(250, 0, 0, 1); */
}
.devpool {
  /* padding: 30px 28px; */
  display: flex;
  flex-direction: row;
  /* align-items: flex-start; */
  /* justify-content: safe; */
  /* flex-wrap: wrap; */
  /* background-color: black; */
  color: white;
  position: absolute;
  top: 11%;
  left: 2%;
  height: auto;
  width: auto;
}
.devpool-row * {
  /* border: none; */
}
.devpool-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  font-size: 11pt;
  border-radius: 7px;
  font-weight: 700;
  border: 1px hotpink groove;
  padding: 5px 8px;
  margin: 1px 0px 0px 0px;
  min-height: 55px;
  height: min-content;
  max-height: 100%;
  min-width: 100px;
  width: calc(100% - 15px);
  max-width: 100%;
}
.dev-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* flex-wrap: nowrap; */
  /* border: 1px solid blue; */
  justify-content: space-between;
  /* align-items: stretch; */
  /* align-items: flex-start; 
} 
#dev-team {
  display: flex;
  flex-direction: row;
  /* text-align: left; */
}
#dev-desc {
  list-style-position: outside;
  list-style-image: url(./img/dms_icon.png);
  height: auto;
  width: calc(100% + 5px);
  float: top;
  text-align: left;
  /* display: flex;
  flex-direction: column; */
  position: relative;
  top: -20px;
  left: -5px;
}
#dev-desc li * {
  position: relative;
  top: -8px;
  left: -2px;
}
#dev-team {
  font-family: "Sheeping";
  font-weight: 100;
  font-size: 14pt;
  position: relative;
  /* float: right; */
  /* width: fit-content; */
  top: -9pt;
  /* vertical-align: bottom; */
}

/* .devpool-row * {
  float: left; 
} */

.intro,
.introFade {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: #010001;
  z-index: 15;
}
.intro video,
.introFade video {
  position: absolute;
  bottom: -8vh;
}

.nav {
  z-index: 1;
}
.body {
  z-index: 0;
}

conta input {
  border: none;
}

* {
  cursor: none;
}

.alpha {
  /* visibility: hidden; */
}

.alpha canvas {
  /* -webkit-mask-image: -webkit-radial-gradien */
  -webkit-mask-image: radial-gradient(transparent -500%, black 600%),
    radial-gradient(transparent 45%, black 63%);
  /* ,
    linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
  -webkit-mask-size: 1000% 100%;
  /* -webkit-mask-repeat: repeat; */
  /* -webkit-mask-composite: invert; */
  -webkit-mask-position: center;
  /* -webkit- */
  /* fill-opacity: inherit; */
  /* color-interpolation-filters: linearRGB;*/
  /* outline-color: aquamarine; */
  /* webkit-  */
}

.introFade {
  opacity: 0;
  animation: fadeout 4s ease-in;
}
@font-face {
  font-family: "Sheeping";
  src: url("./fonts/Sheeping\ Cats.otf") format("truetype");
}
@font-face {
  font-family: "Sheeping Straight";
  src: url("./fonts/Sheeping\ Cats\ Straight.otf") format("truetype");
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
