@import url("https://fonts.googleapis.com/css?family=Risque");

.App {
  /* position: absolute; */
  /* background-blend-mode: color-burn; */

  background: url("./img/city.png");
  background-blend-mode: luminosity;
  background-color: rgba(50, 50, 50, 0.5);
  background-size: cover;
  background-position: 50% 50%;
  min-height: 100vh;
  min-width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
  /* z-index: -2; */
}

#skyline {
  /* visibility: hidden; */
  background: url("./img/skyline.png");
  background-size: contain;
  position: absolute;
  top: 540Zinkforb!
  vh;
  left: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

#shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

#dp-window {
  position: absolute;
  cursor: move;
  height: 100%;
  width: 100%;
  top: -13%;
  left: 15px;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  float: middle;
  /* background-size: 100% 100%;
  background-image: url("./img/window.png");
  background-position: 0px -30px; */
  z-index: 24;
}
.devpool * {
  /* border: 1px groove rgba(250, 0, 0, 1); */
}
.devpool {
  /* margin: 10px; */
  display: flex;
  flex-direction: row;
  /* flex-grow: 
  align-items: center;
  justify-content: left; */

  /* flex-wrap: wrap; */
  color: white;
  position: absolute;
  top: 11%;
  left: 2%;
  height: auto;
  width: auto;
  min-width: 220px;
  z-index: 30;
}
.devpool-row * {
  /* border: none; */
}
.devpool-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  font-size: 11pt;
  border-radius: 50px;
  font-weight: 700;
  border: 1px hotpink groove;
  padding: 5px 8px;
  margin: 1px 30px 0px 30px;
  min-height: 55px;
  height: min-content;
  max-height: 200%;
  width: calc(100% - 48px);
  min-width: calc(100% - 48px);
  /* max-width: 200%; */
  position: relative;
  z-index: 25;
}
.dev-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* flex-wrap: nowrap; */
  /* border: 1px solid blue; */
  justify-content: space-between;
  /* align-items: stretch; */
  /* align-items: flex-start; 
} 
#dev-team {
  display: flex;
  flex-direction: row;
  /* text-align: left; */
}
#dev-desc {
  list-style-position: outside;
  list-style-image: url(./img/dms_icon.png);
  height: auto;
  width: calc(100% + 5px);
  float: top;
  text-align: left;
  /* display: flex;
  flex-direction: column; */
  position: relative;
  top: -20px;
  left: -5px;
}
#dev-desc li * {
  position: relative;
  top: -8px;
  left: -2px;
}
#dev-team {
  font-family: "Sheeping";
  font-weight: 100;
  font-size: 14pt;
  position: relative;
  /* float: right; */
  /* width: fit-content; */
  top: -9pt;
  /* vertical-align: bottom; */
}

/* .devpool-row * {
  float: left; 
} */

.intro,
.introFade {
  overflow: hidden;
  /* position: absolute; */
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: #010001;
  /* z-index: 15; */
}
.intro video,
.introFade video {
  position: absolute;
  bottom: -15vh;
}

#particles canvas {
  /* -webkit-mask-image: -webkit-radial-gradien */
  -webkit-mask-image: radial-gradient(transparent -500%, black 600%),
    radial-gradient(transparent 45%, black 63%);
  /* ,
    linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
  -webkit-mask-size: 1000% 100%;
  /* -webkit-mask-repeat: repeat; */
  /* -webkit-mask-composite: invert; */
  -webkit-mask-position: center;
  /* -webkit- */
  /* fill-opacity: inherit; */
  /* color-interpolation-filters: linearRGB;*/
  /* outline-color: aquamarine; */
  /* webkit-  */
}

.introFade {
  opacity: 0;
  animation: fadeout 4s ease-in;
}
@font-face {
  font-family: "Sheeping";
  src: url("./fonts/Sheeping\ Cats.otf") format("truetype");
}
@font-face {
  font-family: "Sheeping Straight";
  src: url("./fonts/Sheeping\ Cats\ Straight.otf") format("truetype");
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
